@import "style_login.css";

/* Estilos específicos para Forgot Password */
.forgot-card {
    max-width: 480px;
}

.forgot-header h1 {
    color: var(--color-soli); /* Uso del amarillo solicitante para destacar */
}

.forgot-info-text {
    font-size: 0.95rem;
    color: rgba(255, 255, 255, 0.9);
    line-height: 1.5;
    margin-bottom: 25px;
    text-align: center;
}
